<head>
	<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=default">
</head>

<body>
	<pre class="prettyprint linenums">;
    		<%= simple_format(@code_translated, {}, :sanitize => false) %>
	</pre>
</body>
