.invalid_url {
	min-height: 100vh;
	font-family: 'Muli', sans-serif;
	color: dimgrey;

	.middle-wrapper {
		padding-top: 6em;

		/* .middle_wrapper_left */
		.middle_wrapper_left {
			color: #FD7F7F;
			text-align: center;

			h2 { font-size: 10em; }
			p { font-size: 1.2em; }
			.info { color: dimgrey; }
			
		}
		/* /.middle_wrapper_left */

		/* .middle_wrapper_right */
		.middle_wrapper_right {
			padding-top: 6em;
			text-align: center;

			input {
				width: 70%;
				padding: 0.9em; font-size: 1em; border: 1px solid rgb(221, 221, 221);
				&:focus { outline: none; border-color: rgb(221, 221, 221); box-shadow: 0 0 0px transparent; }
			}

			select {
				padding: 1em; font-size: 1em; border: 0px;
				position: relative; right: 4px; top: 1px; color: dimgrey;
				&:focus { outline: none; border-color: transparent; box-shadow: 0 0 0px transparent; }
			}

			.glyphicon-search {
				padding: 1em; font-size: 1.11em; border: 0px;
				background-color: #6BC7F6;
				position: relative;
				top: 4px;
				right: 9px;
				border: 0px;
				border-top-right-radius: 0.3em;
				border-bottom-right-radius: 0.3em;
				color: white;
			}

		}
		/* /.middle_wrapper_right */

	}

		.dummy {
			height: 30vh; width: 100vw;
		}

}