<!-- div.footer -->
<div class="footer navbar-fixed-bottom">
	<div class="row">
	  <a href="#"><i class="fa fa-facebook"></i>&nbsp;</a>
	  <a href="#"><i class="fa fa-twitter"></i>&nbsp;</a>
	  <a href="#"><i class="fa fa-google-plus"></i>&nbsp;</a>
	  <a href="#"><i class="fa fa-linkedin"></i>&nbsp;</a>	
	</div>
</div>
<!-- /div.footer -->